fastapi
uvicorn[standard]
pydantic>=2.11
pydantic-settings>=2.1
SQLAlchemy
psycopg2-binary
python-dotenv
openai
requests
celery[redis]
redis
alembic
passlib[bcrypt]
bcrypt==4.3.0
PyJWT
cryptography
python-multipart
email-validator
pytest
psycopg[binary]
pytz